@page "/service/delete"
@using EntitySystem.Client.Services
@using Matcher.Client.Services;
@using Matcher.Shared.Domain
@using Matcher.Shared.Models
@using Microsoft.AspNetCore.Components

@inject IAlertService _alertService;
@inject IRedirectService _redirectService;
@inject GameService _gameService;
@inject GroupService _groupService;
@inject ItemService _itemService;
@inject UserService _userService;

<PageTitle>Delete game</PageTitle>

<h1>Delete game</h1>

<br/><br/>
@if (_games is not null && _games?.Count>0)
{
    <EditForm autocomplete="on" Model="@DeleteGameModel" OnValidSubmit="@OnSubmit">
        <DataAnnotationsValidator/>
        <div class="mt-2">
            <ValidationSummary/>
        </div>

        <label style="margin:7px;">Select game </label>
        <InputSelect @bind-Value="DeleteGameModel.GameId">
            @foreach (var game in _games)
            {
                <option value="@game.Id">@game.Name</option>
            }
        </InputSelect>

        <div class="mb-3">
            <label style="margin:7px;" class="form-label" for="card-email">Author's password</label>
            <input style="margin:7px;" class="form-control" type="text" autocomplete="on"
                   id="card-email" @bind-value="DeleteGameModel.Password"/>
        </div>

        <div class="mb-3">
            <button style="margin:7px;"  class="btn btn-primary d-block w-100 mt-3" type="submit"
                    name="submit">Delete selected game</button>
        </div>
    </EditForm>
}

@if (_games?.Count == 0)
{
    _alertService.Add(AlertType.Info, "No games in database.");
}

@code 
{
    [Parameter]
    public DeleteGameModel DeleteGameModel { get; set; } = new();

    private List<Game> _games;

    protected override async Task OnParametersSetAsync()
    {
        _games = await _gameService.ListAsync(); 
    }

    private async Task OnSubmit()
    {
        var selectedGame = _games.Where(g => g.Id == DeleteGameModel.GameId).FirstOrDefault();

        if (selectedGame.Password != DeleteGameModel.Password)
        {
            _alertService.Add(AlertType.Error, "Wrong password.");
            return;
        }

        await DeleteGameAsync(selectedGame);

        /*
        selectedGame.Active = false;
        await _gameService.PutAsync(selectedGame);
        */

        _alertService.Add(AlertType.Success, "The game was deleted.");
        await _redirectService.RedirectToAsync("/");
    }

    private async Task DeleteGameAsync(Game game) 
    {
        var groupsToBeDeleted =  await _groupService.ListAsync(g => g.Game.Id == game.Id);

        var itemsToBeDeleted = await _itemService.ListAsync(i => i.Group.Game.Id == game.Id);

        var tasks = itemsToBeDeleted.Select(async i =>  await _itemService.DeleteAsync(i));
        await Task.WhenAll(tasks);

        tasks = groupsToBeDeleted.Select(async g => await _groupService.DeleteAsync(g));
        await Task.WhenAll(tasks);

        await _gameService.DeleteAsync(game);
    }
} 