@page "/"
@using Matcher.Client.Services;
@using EntitySystem.Client.Services;
@using Matcher.Shared.Domain

@inject GameService _gameService;
@inject GroupService _groupService;
@inject ItemService _itemService;
@inject UserService _userService;
@inject IRedirectService _redirectService;
@inject IAlertService _alertService;

<PageTitle>Game list</PageTitle>

<h1>Game list</h1>


 @if(_games != null )
 {
    <table>
        <tr>
            <th>Name</th>
            <th>Author</th>
        </tr>

         @foreach(var game in _games) 
            {
                <tr @onclick="() => StartGame(game)">
                    <td>@game.Name</td>
                    <td>@game.User.Nick</td>
                </tr>
            }
    </table>
 }


@code
{
    public static Game CurrentGame;

    private List<Game> _games;

    protected override async Task OnParametersSetAsync()
    {
        _games = await _gameService.ListAsync(); 
    }

    private async Task StartGame(Game game) 
    {
        CurrentGame = game;
        await _redirectService.RedirectToAsync("/current-game");
    }
}