@page "/"
@using Matcher.Shared;
@using Matcher.Client.Services;
@using EntitySystem.Client.Services;

@inject GameService _gameService;
@inject GroupService _groupService;
@inject ItemService _itemService;
@inject UserService _userService;
@inject IRedirectService _redirectService;
@inject HttpClient Http;
@inject IAlertService _alertService;

<PageTitle>Game list</PageTitle>

<h1>Game list</h1>


 @if(games != null )
 {
    <table>
        <tr>
            <th>Name</th>
            <th>Author</th>
        </tr>

         @foreach(var game in games) 
            {
                <tr @onclick="() => StartGame(game)">
                    <td>@game.Name</td>
                    <td>@game.User.Nick</td>
                </tr>
            }
    </table>
 }

<button @onclick="@ImportGameAsync">Import new game</button>

@code
{
    private const string filePath = @"c:\matcher\";

    private const string fileName = "gameImport.txt";

    public static Game CurrentGame;

    private List<Game> games;

    private List<string> lines;


    protected override async Task OnParametersSetAsync()
    {
        games = await _gameService.ListAsync(); 
    }

    private async Task StartGame(Game game) 
    {
        CurrentGame = game;
        await _redirectService.RedirectToAsync("/current-game");
    }

    private async Task ImportGameAsync()
    {
        await _redirectService.RedirectToAsync("/import-game");
    }
}